.product {
  width: 250px;
  height: 220px;
  border: 2px solid #888;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  background-color: white;
}

.product-content {
  text-align: center;
  padding: 20px;
}

.price-container {
  background-color: burlywood;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 12px;
}

.old-price {
  text-decoration: line-through;
  color: #666;
}

.new-price {
  color: green;
  font-weight: bold;
}
